<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/plantilla :: head">
        <title>Login</title>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>

        <section id="actions" class="py-4 mb-4 bg-light">
            <div class="container">
                <div class="grid">
                    <!-- se pueden agregar botones -->
                </div>
            </div>
        </section>

        <section id="login">
            <div class="container">
                <div class="grid">
                    <div class="col-md-6 me-auto">
                        <div class="card">
                            <div class="card-header">
                                <h4>Login</h4>
                            </div>
                            <div class="card-body">
                                <form method="POST" th:action="@{/login}">
                                    <div class="mb-3 mt-2">
                                        <label for="username" class="form-label">Username:</label>
                                        <input type="text" class="form-control" id="username" placeholder="Enter username" name="username"/>
                                    </div>
                                    <div class="mb-3">
                                        <label for="password" class="form-label">Password:</label>
                                        <input type="password" class="form-control" id="password" placeholder="Enter password" name="password"/>
                                    </div>
                                    <div class="d-grid gap-2 col-6 mx-auto">
                                        <input type="submit" value="Login" class="btn btn-primary btn-block"/>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>
